* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 45px;
    justify-content: space-between;
}

#logo {
    display: flex;
}

#logo img{
    width: 25px;
}

.difficulty-mode {
    display: flex;
}

main {
    background-color: #7FFFD4;
}

main #grid {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}